// com_cpanel

.com_cpanel {

  .content {
    margin-top: 0;
  }

  .card {
    margin-bottom: $grid-gutter-height;
    background-color: transparent;
    border: 0;
    // box-shadow: $atum-box-shadow;

    p:first-of-type {
      margin-top: 1rem;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .list-group {
      margin-top: 0;
      margin-right: - $card-spacer-x;
      margin-bottom: - $card-spacer-x;
      margin-left: - $card-spacer-x;

      > li {
        padding: .6rem $card-spacer-x;
        overflow: hidden;
      }

      > .published {
        padding-left: .9rem;
        border-left: 5px solid theme-color("success");
      }

      > .unpublished {
        padding-left: .9rem;
        border-left: 5px solid theme-color("danger");
      }

      &:first-of-type {
        border-top: 0;
      }

    }

    .list-group-item:first-child {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .list-group-item:last-child {
      border-bottom: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

  }

  .card-title {
    position: relative;
    padding: .9em $card-spacer-x $card-spacer-y;
    margin-top: - $card-spacer-x;
    margin-right: - $card-spacer-x;
    margin-bottom: 8px;
    margin-left: - $card-spacer-x;
    font-size: $h5-font-size;
    font-weight: normal;
    color: $white;
    background-color: $atum-template-color;
    box-shadow: 0 2px 3px -3px rgba(0,0,0,.15);
  }

  .module-actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    > a {
      display: inline-block;
      width: 2.6em;
      height: 2.6em;
      line-height: 2.6em;
      color: $white;
      text-align: center;
      background-color: $atum-template-color-light;

      &:hover,
      &:focus {
        background-color: $atum-card-title-icon-bg-hover;
        box-shadow: none;
      }

    }

  }

}
