/* IcoMoon Conversion */

@import "../../vendor/font-awesome/scss/variables";

[class^="icon-"]:not(.input-group-text),
[class*=" icon-"]:not(.input-group-text) {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'FontAwesome';
    font-style: normal;
    speak: none;
}
[class^="icon-"].disabled,
[class*=" icon-"].disabled {
    font-weight: normal;
}

.icon-generic:before {
    content: $fa-var-dot-circle-o;
}

.icon-joomla:before {
    content: $fa-var-joomla;
}

.icon-chevron-up:before, .icon-uparrow:before, .icon-arrow-up:before {
    content: $fa-var-chevron-up;
}

.icon-chevron-right:before, .icon-rightarrow:before, .icon-arrow-right:before {
    content: $fa-var-chevron-right;
}

.icon-chevron-down:before, .icon-downarrow:before, .icon-arrow-down:before {
    content: $fa-var-chevron-down;
}

.icon-chevron-left:before, .icon-leftarrow:before, .icon-arrow-left:before {
    content: $fa-var-chevron-left;
}

.icon-arrow-first:before {
    content: $fa-var-step-backward;
}

.icon-arrow-last:before {
    content: $fa-var-fast-backward;
}

.icon-arrow-up-2:before {
    content: $fa-var-arrow-circle-o-up;
}

.icon-arrow-right-2:before {
    content: $fa-var-arrow-circle-o-right;
}

.icon-arrow-down-2:before {
    content: $fa-var-arrow-circle-o-down;
}

.icon-arrow-left-2:before {
    content: $fa-var-arrow-circle-o-left;
}

.icon-arrow-up-3:before {
    content: $fa-var-caret-up;
}

.icon-arrow-right-3:before {
    content: $fa-var-caret-right;
}

.icon-arrow-down-3:before {
    content: $fa-var-caret-down;
}

.icon-arrow-left-3:before {
    content: $fa-var-caret-left;
}

.icon-menu-2:before {
    content: $fa-var-sort;
}

.icon-arrow-up-4:before {
    content: $fa-var-arrow-up;
}

.icon-arrow-right-4:before {
    content: $fa-var-arrow-right;
}

.icon-arrow-down-4:before {
    content: $fa-var-arrow-down;
}

.icon-arrow-left-4:before {
    content: $fa-var-arrow-left;
}

.icon-share:before, .icon-redo:before {
    content: $fa-var-share;
}

.icon-undo:before {
    content: $fa-var-undo;
}

.icon-forward-2:before {
    content: $fa-var-arrow-circle-o-right;
}

.icon-backward-2:before, .icon-reply:before {
    content: $fa-var-arrow-circle-o-left;
}

.icon-unblock:before, .icon-refresh:before, .icon-redo-2:before {
    content: $fa-var-refresh;
}

.icon-undo-2:before {
    content: $fa-var-undo;
}

.icon-move:before {
    content: $fa-var-arrows;
}

.icon-expand:before {
    content: $fa-var-expand;
}

.icon-contract:before {
    content: $fa-var-compress;
}

.icon-expand-2:before {
    content: $fa-var-arrows-alt;
}

.icon-contract-2:before {
    content: $fa-var-shopping-basket;
}

.icon-play:before {
    content: $fa-var-arrows-alt;
}

.icon-pause:before {
    content: $fa-var-pause;
}

.icon-stop:before {
    content: $fa-var-stop;
}

.icon-previous:before, .icon-backward:before {
    content: $fa-var-backward;
}

.icon-next:before, .icon-forward:before {
    content: $fa-var-forward;
}

.icon-first:before {
    content: $fa-var-fast-backward;
}

.icon-last:before {
    content: $fa-var-fast-forward;
}

.icon-play-circle:before {
    content: $fa-var-play-circle-o;
}

.icon-pause-circle:before {
    content: $fa-var-pause-circle-o;
}

.icon-stop-circle:before {
    content: $fa-var-stop-circle-o;
}

.icon-backward-circle:before {
    content: $fa-var-chevron-circle-left;
}

.icon-forward-circle:before {
    content: $fa-var-chevron-circle-right;
}

.icon-loop:before {
    content: $fa-var-refresh;
}

.icon-shuffle:before {
    content: $fa-var-random;
}

.icon-search:before {
    content: $fa-var-search;
}

.icon-zoom-in:before {
    content: $fa-var-search-plus;
}

.icon-zoom-out:before {
    content: $fa-var-search-minus;
}

.icon-apply:before, .icon-edit:before, .icon-pencil:before {
    content: $fa-var-pencil-square-o;
}

.icon-pencil-2:before {
    content: $fa-var-pencil;
}

.icon-brush:before {
    content: $fa-var-paint-brush;
}

.icon-save-new:before, .icon-plus-2:before {
    content: $fa-var-plus;
}

.icon-minus-sign:before, .icon-minus-2:before {
    content: $fa-var-minus;
}

.icon-delete:before, .icon-remove:before, .icon-cancel-2:before {
    content: $fa-var-times;
}

.icon-publish:before, .icon-save:before, .icon-ok:before, .icon-checkmark:before {
    content: $fa-var-check;
}

.icon-new:before, .icon-plus:before {
    content: $fa-var-plus;
}

.icon-plus-circle:before {
    content: $fa-var-plus-circle;
}

.icon-minus:before, .icon-not-ok:before {
    content: $fa-var-minus;
}

.icon-ban-circle:before, .icon-minus-circle:before {
    content: $fa-var-minus-circle;
}

.icon-unpublish:before, .icon-cancel:before {
    content: $fa-var-times;
}

.icon-cancel-circle:before {
    content: $fa-var-times-circle;
}

.icon-checkmark-2:before {
    content: $fa-var-check-circle-o;
}

.icon-checkmark-circle:before {
    content: $fa-var-check-circle-o;
}

.icon-info:before {
    content: $fa-var-info;
}

.icon-info-2:before, .icon-info-circle:before {
    content: $fa-var-info-circle;
}

.icon-question:before, .icon-question-sign:before, .icon-help:before {
    content: $fa-var-question;
}

.icon-question-2:before, .icon-question-circle:before {
    content: $fa-var-question-circle;
}

.icon-notification:before {
    content: $fa-var-exclamation;
}

.icon-notification-2:before, .icon-notification-circle:before {
    content: $fa-var-exclamation-circle;
}

.icon-pending:before, .icon-warning:before {
    content: $fa-var-exclamation-triangle;
}

.icon-warning-2:before, .icon-warning-circle:before {
    content: $fa-var-warning;
}

.icon-checkbox-unchecked:before {
    content: $fa-var-square-o;
}

.icon-checkin:before, .icon-checkbox:before, .icon-checkbox-checked:before {
    content: $fa-var-check-square-o;
}

.icon-checkbox-partial:before {
    content: $fa-var-square;
}

.icon-square:before {
    content: $fa-var-square-o;
}

.icon-radio-unchecked:before {
    content: $fa-var-circle-o;
}

.icon-radio-checked:before {
    content: $fa-var-check-circle-o;
}

.icon-circle:before {
    content: $fa-var-circle;
}

.icon-signup:before {
    content: $fa-var-sign-in;
}

.icon-grid:before, .icon-grid-view:before {
    content: $fa-var-th-large;
}

.icon-grid-2:before, .icon-grid-view-2:before {
    content: $fa-var-th;
}

.icon-menu:before {
    content: $fa-var-bars;
}

.icon-list:before, .icon-list-view:before {
    content: $fa-var-list;
}

.icon-list-2:before {
    content: $fa-var-list-ul;
}

.icon-menu-3:before {
    content: $fa-var-list-ol;
}

.icon-folder-open:before, .icon-folder:before {
    content: $fa-var-folder-open;
}

.icon-folder-close:before, .icon-folder-2:before {
    content: $fa-var-folder;
}

.icon-folder-plus:before {
    content: $fa-var-folder-open;
}

.icon-folder-minus:before {
    content: $fa-var-folder;
}

.icon-folder-3:before {
    content: $fa-var-folder-open;
}

.icon-folder-plus-2:before {
    content: $fa-var-folder;
}

.icon-folder-remove:before {
    content: $fa-var-folder;
}

.icon-file:before {
    content: $fa-var-file;
}

.icon-file-2:before {
    content: $fa-var-file-o;
}

.icon-file-add:before, .icon-file-plus:before {
    content: $fa-var-plus;
}

.icon-file-minus:before {
    content: $fa-var-minus;
}

.icon-file-check:before {
    content: $fa-var-check;
}

.icon-file-remove:before {
    content: $fa-var-times;
}

.icon-save-copy:before, .icon-copy:before {
    content: $fa-var-files-o;
}

.icon-stack:before {
    content: $fa-var-files-o;
}

.icon-tree:before {
    content: $fa-var-code-fork;
}

.icon-tree-2:before {
    content: $fa-var-sitemap;
}

.icon-paragraph-left:before {
    content: $fa-var-align-left;
}

.icon-paragraph-center:before {
    content: $fa-var-align-center;
}

.icon-paragraph-right:before {
    content: $fa-var-align-right;
}

.icon-paragraph-justify:before {
    content: $fa-var-align-justify;
}

.icon-screen:before {
    content: $fa-var-desktop;
}

.icon-tablet:before {
    content: $fa-var-tablet;
}

.icon-mobile:before {
    content: $fa-var-mobile;
}

.icon-box-add:before {
    content: $fa-var-archive;
}

.icon-box-remove:before {
    content: $fa-var-archive;
}

.icon-download:before {
    content: $fa-var-download;
}

.icon-upload:before {
    content: $fa-var-upload;
}

.icon-home:before {
    content: $fa-var-home;
}

.icon-home-2:before {
    content: $fa-var-home;
}

.icon-out-2:before, .icon-new-tab:before {
    content: $fa-var-external-link;
}

.icon-out-3:before, .icon-new-tab-2:before {
    content: $fa-var-external-link-square;
}

.icon-link:before {
    content: $fa-var-link;
}

.icon-picture:before, .icon-image:before {
    content: $fa-var-picture-o;
}

.icon-pictures:before, .icon-images:before {
    content: $fa-var-picture-o;
}
.icon-palette:before, .icon-color-palette:before {
    content: $fa-var-paint-brush;
}
.icon-camera:before {
    content: $fa-var-camera;
}

.icon-camera-2:before, .icon-video:before {
    content: $fa-var-video-camera;
}

.icon-play-2:before, .icon-video-2:before, .icon-youtube:before {
    content: $fa-var-play;
}

.icon-music:before {
    content: $fa-var-music;
}

.icon-user:before {
    content: $fa-var-user;
}

.icon-users:before {
    content: $fa-var-users;
}

.icon-vcard:before {
    content: $fa-var-file-text-o;
}

.icon-address:before {
    content: $fa-var-file-text;
}
.icon-share-alt:before, .icon-out:before {
    content: $fa-var-share;
}

.icon-enter:before {
    content: $fa-var-sign-in;
}

.icon-exit:before {
    content: $fa-var-sign-out;
}

.icon-comment:before, .icon-comments:before {
    content: $fa-var-comment;
}

.icon-comments-2:before {
    content: $fa-var-comments-o;
}

.icon-quote:before, .icon-quotes-left:before {
    content: $fa-var-quote-left;
}

.icon-quote-2:before, .icon-quotes-right:before {
    content: $fa-var-quote-right;
}

.icon-quote-3:before, .icon-bubble-quote:before {
    content: $fa-var-comment;
}

.icon-phone:before {
    content: $fa-var-phone-square;
}

.icon-phone-2:before {
    content: $fa-var-phone;
}

.icon-envelope:before, .icon-mail:before {
    content: $fa-var-envelope;
}

.icon-envelope-opened:before, .icon-mail-2:before {
    content: $fa-var-envelope-o;
}

.icon-unarchive:before, .icon-drawer:before {
    content: $fa-var-folder-open;
}

.icon-archive:before, .icon-drawer-2:before {
    content: $fa-var-folder;
}

.icon-briefcase:before {
    content: $fa-var-briefcase;
}

.icon-tag:before {
    content: $fa-var-tag;
}

.icon-tag-2:before {
    content: $fa-var-tag;
}

.icon-tags:before {
    content: $fa-var-tags;
}

.icon-tags-2:before {
    content: $fa-var-tags;
}

.icon-options:before, .icon-cog:before {
    content: $fa-var-cog;
}

.icon-cogs:before {
    content: $fa-var-cogs;
}

.icon-screwdriver:before, .icon-tools:before {
    content: $fa-var-wrench;
}

.icon-wrench:before {
    content: $fa-var-wrench;
}

.icon-equalizer:before {
    content: $fa-var-sliders;
}

.icon-dashboard:before {
    content: $fa-var-tachometer;
}

.icon-switch:before {
    content: $fa-var-power-off;
}

.icon-filter:before {
    content: $fa-var-filter;
}

.icon-purge:before, .icon-trash:before {
    content: $fa-var-trash;
}

.icon-checkedout:before, .icon-lock:before, .icon-locked:before {
    content: $fa-var-lock;
}

.icon-unlock:before {
    content: $fa-var-unlock;
}

.icon-key:before {
    content: $fa-var-key;
}

.icon-support:before {
    content: $fa-var-life-ring;
}

.icon-database:before {
    content: $fa-var-database;
}

.icon-scissors:before {
    content: $fa-var-scissors;
}

.icon-health:before {
    content: $fa-var-medkit;
}

.icon-wand:before {
    content: $fa-var-magic;
}

.icon-eye-open:before, .icon-eye:before {
    content: $fa-var-eye;
}

.icon-eye-close:before, .icon-eye-blocked:before, .icon-eye-2:before {
    content: $fa-var-eye-slash;
}

.icon-clock:before {
    content: $fa-var-clock-o;
}

.icon-compass:before {
    content: $fa-var-compass;
}

.icon-broadcast:before, .icon-connection:before, .icon-wifi:before {
    content: $fa-var-wifi;
}

.icon-book:before {
    content: $fa-var-book;
}

.icon-lightning:before, .icon-flash:before {
    content: $fa-var-bolt;
}

.icon-print:before, .icon-printer:before {
    content: $fa-var-print;
}

.icon-feed:before {
    content: $fa-var-rss-square;
}

.icon-calendar:before {
    content: $fa-var-calendar;
}

.icon-calendar-2:before {
    content: $fa-var-calendar-check-o;
}

.icon-calendar-3:before {
    content: $fa-var-calendar-o;
}

.icon-pie:before {
    content: $fa-var-pie-chart;
}

.icon-bars:before {
    content: $fa-var-bar-chart;
}

.icon-chart:before {
    content: $fa-var-area-chart;
}

.icon-power-cord:before {
    content: $fa-var-plug;
}

.icon-cube:before {
    content: $fa-var-cube;
}

.icon-puzzle:before {
    content: $fa-var-puzzle-piece;
}

.icon-attachment:before, .icon-paperclip:before, .icon-flag-2:before {
    content: $fa-var-paperclip;
}

.icon-lamp:before {
    content: $fa-var-lightbulb-o;
}

.icon-pin:before, .icon-pushpin:before {
    content: $fa-var-thumb-tack;
}

.icon-location:before {
    content: $fa-var-map-marker;
}

.icon-shield:before {
    content: $fa-var-shield;
}

.icon-flag:before {
    content: $fa-var-flag;
}

.icon-flag-3:before {
    content: $fa-var-flag-o;
}

.icon-bookmark:before {
    content: $fa-var-bookmark;
}

.icon-bookmark-2:before {
    content: $fa-var-bookmark-o;
}

.icon-heart:before {
    content: $fa-var-heart;
}

.icon-heart-2:before {
    content: $fa-var-heart-o;
}

.icon-thumbs-up:before {
    content: $fa-var-thumbs-up;
}

.icon-thumbs-down:before {
    content: $fa-var-thumbs-down;
}

.icon-unfeatured:before, .icon-asterisk:before, .icon-star-empty:before {
    content: $fa-var-star-o;
}

.icon-star-2:before {
    content: $fa-var-star-half-o;
}

.icon-featured:before, .icon-default:before, .icon-star:before {
    content: $fa-var-star;
}

.icon-smiley:before, .icon-smiley-happy:before {
    content: $fa-var-smile-o;
}

.icon-smiley-2:before, .icon-smiley-happy-2:before {
    content: $fa-var-smile-o;
}

.icon-smiley-sad:before {
    content: $fa-var-frown-o;
}

.icon-smiley-sad-2:before {
    content: $fa-var-frown-o;
}

.icon-smiley-neutral:before {
    content: $fa-var-smile-o;
}

.icon-smiley-neutral-2:before {
    content: $fa-var-smile-o;
}

.icon-cart:before {
    content: $fa-var-shopping-cart;
}

.icon-basket:before {
    content: $fa-var-shopping-basket;
}

.icon-credit:before {
    content: $fa-var-credit-card;
}

.icon-credit-2:before {
    content: $fa-var-credit-card-alt;
}

.icon-expired:before {
    content: $fa-var-minus-circle;
}
