<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en-uk">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Joomla Installation Error</title>
		<link rel="stylesheet" href="../media/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="template/css/error.css">
	</head>
	<body>
			<div class="container">
				<div class="container-main">
					<div class="alert-main">
						<h1 id="headerText">Sorry, your PHP version is not supported</h1>
						<p><span id="descText1">Your host needs to use PHP version</span> {{PHP_VERSION}} <span id="descText2">or newer to run this version of Joomla!</span></p>
					</div>
					<div class="footer">
						<ul id="translatedLanguages"></ul> 
					</div>
				</div>
				<ul class="links">
					<li><a href="https://www.joomla.org/">Joomla</a></li> - 
					<li><a href="https://docs.joomla.org/">Help</a></li>
				</ul>
			</div>
			<script src="template/js/error-locale.js"></script>
			<script src="template/js/error.js"></script>
	</body>
</html>