// Sidebar

.wrapper {
  padding-left: 310px;
  transition: all .3s ease;

  @include media-breakpoint-down(md) {
    padding-left: 0;
  }

}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  width: 310px;
  height: 100%;
  margin-left: 0;
  background-color: #fff;
  box-shadow: 0 3px 2px rgba(0,0,0,.2);
  transition: all .3s ease;

  .sidebar-brand {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

  }

  @include media-breakpoint-down(md) {
    margin-top: 3px;

    .main-nav {
      max-height: calc(100vh - 147px);
    }

  }

  .main-brand {
    display: flex;
    padding-left: 12px;
    line-height: 60px;
    color: $white;
    text-align: left;
    text-indent: 0;
    border: 0;
    box-shadow: none;
    align-content: center;

    a {
      display: block;
      margin-right: 5px;
      overflow: hidden;
      border: 0;
      box-shadow: none;

      &:hover {
        background: none;
      }

    }

    img {
      width: 36px;
    }

    h3 {
      margin-bottom: 0;
      margin-left: 4px;
    }

  }

}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  width: 60px;
  padding-bottom: 10px;
  background-color: $atum-template-color;
  .nav-item {
    // background-color: $header-icons-bg;
    // border-left: 1px solid $atum-template-color;
  }

  .nav-link {
    position: relative;
    padding: 0;
    line-height: 40px;

    .fa {
      width: 60px;
      font-size: 1.3rem;
      color: $white-offset;
      vertical-align: middle;
      transition: all .2s ease-in-out;
    }

    .fa-external-link { // Position correct
      position: relative;
      left: 2px;
    }

    .badge {
      position: absolute;
      top: 4px;
      right: 6px;
    }

    &.dropdown-toggle::after {
      display: none;
    }

    &:hover .fa {
      font-size: 1.3rem;
      transition: all .2s ease-in-out;
    }

  }
}

.sidebar-outter-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  padding: 0 15px;
  h3 {
    margin-bottom: 0;
    font-weight: normal;
  }
}

.menu-toggle-icon {
  width: $header-height;
  font-size: 1.7rem;
}

// Sidebar navigation
.main-nav {
  position: relative;
  z-index: 1;
  width: 250px;
  height: calc(100vh - 96px);
  list-style: none;
  opacity: 1;

  // Parent items
  li {
    border-bottom: 1px solid rgba(0,0,0,.05);

    &:first-of-type {
      border-top: 1px solid rgba(0,0,0,.05);
    }

  }

  li {
    max-height: 40px;
    line-height: 40px;

    a {
      position: relative;
      display: block;
      max-height: 40px;
      overflow: hidden;
      color: $atum-template-color;
      text-decoration: none;
      cursor: pointer;
      opacity: 1;

      &:hover {
        text-decoration: none;
      }

      &:active,
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: inset 0 0 0 1px #78aeda;
      }

    }

    ul {
      position: absolute;
      top: 0;
      left: 100%;
      display: none;
      width: 250px;
      height: calc(100vh - 48px);
      padding: 0;
      color: $white;
      background-color: $atum-template-color;
      opacity: 0;
      transition: left .2s ease, opacity .2s ease;

      ul {
        display: none;
        opacity: 1;
      }

      li {
        text-indent: 15px;
      }
    }

  }

  .close {
    padding: 2px 10px;
    font-size: 1.7rem;
    color: rgba(255, 255, 255, .3);
    text-indent: 0;
    text-shadow: none;

    &:hover {
      background-color: transparent;
    }
  }

  .open {

    > a + ul {
      display: block;
      opacity: 1;
    }

  }

  li li {

    a {
      color: $white;

      &:hover {
        background-color: $atum-template-color-light;
        box-shadow: inset 2px 0 2px rgba(0,0,0,.1);
      }

    }

    > span {
      color: rgba($white, .4);
    }

    &:last-of-type > a {
      border-bottom: 0;
    }

  }

  // Parent icons
  .fa {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0 12px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    opacity: .4;
  }

  // 2nd level items
  .collapse-level-1 {
    a::before {
      display: none;
    }

    .menuitem-group,
    > li:first-of-type {
      margin: 6px 0 0;
      color: rgba($white, .7);
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    li {
      position: relative;

      &:hover ul {
        display: inline-block !important;
      }
    }
  }

  // 3rd level items
  .collapse-level-2 {
    position: absolute;
    top: 0;
    right: 15px;
    .sidebar-item-title {
      font-family: FontAwesome;
      font-size: 1rem;
      color: $atum-template-color;
      content: "\f0fe";
      transition-delay: .25s;
    }
    > li > a {
      color: $white;
      text-indent: 15px;

    }

  }

  // Parent arrow indicator
  .parent .collapse-arrow::after {
    position: absolute;
    top: 0;
    right: 15px;
    font-family: FontAwesome;
    font-size: .75rem;
    color: $atum-template-color;
    content: "\f054";
    opacity: .3;
    transition-delay: .25s;

  }

  .dropdown-submenu {
    position: relative;
    .collapse-arrow::after {
      color: $white;
    }
  }

  .closed & {
    overflow-x: hidden;
  }

}


// Child open
.child-open {
  overflow: visible;

  > li {

    &.open > a::before {
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 0;
      width: 3px;
      content: "";
      background-color: $atum-sidebar-active;
    }
  }

  .open > ul {
    display: block;
  }

}

// Sidebar Closed
.closed {

  @include media-breakpoint-up(lg) {
    padding-left: 50px;
  }

  .child-open::after {
    display: none;
  }

  .sidebar-wrapper {
    width: 50px;
    overflow: hidden;
  }

  .main-brand h3 {
    display: none;
  }

  .parent .collapse-arrow::after {
    visibility: hidden;
    transition-delay: 0s !important;
  }

  .menu-toggle-icon::before {
    content: "\f054";
  }

}

// Edit view
.layout-edit .sidebar-wrapper .no-dropdown:hover {
  color: $white;
  cursor: not-allowed;
  background: none;
}

.sidebar-item-title {
  visibility: visible !important;
  opacity: 1 !important;
}
