// Sidebar

.wrapper {
  padding-left: 250px;
  transition: all .3s ease;

  @include media-breakpoint-down(md) {
    padding-left: 0;
  }

}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  z-index: 10;
  width: 250px;
  height: 100%;
  margin-left: 0;
  background-color: $atum-template-color;
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  transition: all .3s ease;
  .sidebar-brand {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

  }

  @include media-breakpoint-down(md) {
    margin-top: 3px;

    .main-nav {
      max-height: calc(100vh - 147px);
    }

  }

  .main-brand {
    margin-left: 5px;
    font-size: 30px;
    line-height: 96px;
    text-align: center;
    text-indent: 0;
    border: 0;
    box-shadow: none;

    a {
      display: block;
      margin-right: 5px;
      overflow: hidden;
      border: 0;
      box-shadow: none;

    }

    img {
      width: 190px;
    }

  }

}

.menu-toggle-icon {
  width: $header-height;
  font-size: 1.7rem;
}

// Sidebar navigation
.main-nav {
  position: relative;
  z-index: 1;
  width: 250px;
  height: calc(100vh - 96px);
  overflow-y: auto;
  list-style: none;
  background-color: $atum-template-color;
  opacity: 1;

  ul {
    display: none;
    background-color: $atum-template-color-dark;
    li {
      line-height: 34px;
      color: #aaa;
      text-indent: 15px;
    }
  }

  // Parent items
  > li {
    background-color: $atum-template-color;
    border-bottom: 1px solid rgba(0,0,0,.15);
    &:first-of-type {
      border-top: 1px solid rgba(0,0,0,.15);
    }

  }

  a {
    &:focus {
      + ul {
        display: block;
      }
    }
  }

  li {
    line-height: 40px;

    a {
      display: block;
      color: $white;
      text-decoration: none;
      cursor: pointer;
      opacity: 1;

      &:hover {
        color: $white;
        text-decoration: none;
        background-color: rgba(0,0,0,.2);
      }

      &:active,
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: inset 0 0 0 1px #78aeda;
      }

    }

    a:not([href]):not([tabindex]) {
      color: $white;
    }

  }

  ul ul {
    display: block;
    li {
      padding-left: 10px;
      opacity: .7;
    }
  }

  // Parent icons
  .fa {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0 12px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }

}

// Edit view
.layout-edit .sidebar-wrapper .no-dropdown:hover {
  color: $white;
  cursor: not-allowed;
  background: none;
}

.sidebar-item-title {
  visibility: visible !important;
  opacity: 1 !important;
}
