// Table

.table-alias {
  opacity: .5;
}
.table-category {
  text-transform: uppercase;
}
tbody {
  background-color: #fff;
}
.table thead th {
  font-size: .8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
