// Variables
@import "variables";

// Flying Focus
@import "../../../media/vendor/flying-focus-a11y/scss/flying-focus";

// Bootstrap
@import "../../../media/vendor/bootstrap/scss/variables";
@import "../../../media/vendor/bootstrap/scss/bootstrap";

// FontAwesome
@import "../../../media/vendor/font-awesome/scss/font-awesome";

// B/C for Icomoon
@import "../../../media/system/scss/icomoon";

// Alert
@import "../../../media/system/scss/jalert";

// Blocks
@import "blocks/global"; // Leave this first
@import "blocks/alerts";
@import "blocks/banner";
@import "blocks/demo-styling";
@import "blocks/footer";
@import "blocks/form";
@import "blocks/header";
@import "blocks/icons";
@import "blocks/iframe";
@import "blocks/modals";
@import "blocks/switcher";
@import "blocks/utilities";

// Vendor overrides
@import "vendor/awesomplete";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/custom-forms";
@import "vendor/bootstrap/collapse";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/lists";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/table";
@import "vendor/chosen";
@import "vendor/dragula";
@import "vendor/minicolors";
@import "vendor/tinymce";


// Chosen (TEMPORARY)
.chzn-container-single {
  width: auto !important;
}

// Bootstrap (TEMPORARY)
// This fixes odd stacking when 2 buttons are used in an input group
.input-group-btn {
  flex-direction: row;
}
// This adds the correct cursor on hover for buttons
.btn:hover,
.btn:focus {
  cursor: pointer;
}

// Layout

body {
  > div, header > nav, footer {
    display: flex;
    width: 100%;
    max-width: 1080px + ($aurora-grid-gutter * 4);
    margin-left: auto;
    margin-right: auto;
  }
  > .full-width {
    max-width: none;
  }
} 
header {
  margin-bottom: 10px;
}
.container-banner {
  display: block;
  grid-gap: 0; 
  margin: -15px 0 -5px;
}
.container-top-a,
.container-top-b,
.container-bottom-a,
.container-bottom-b {
  > div {
    flex: 1;
    margin: ($aurora-grid-gutter / 2);
  }
}
.container-main {
  > div {
    margin: ($aurora-grid-gutter / 2);
  }
}
.container-component {
  flex: 1;
  > div {
    margin-bottom: $aurora-grid-gutter;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.container-sidebar-left,
.container-sidebar-right, {
  // IE11 bug with flex and calc. Calc moved to width
  flex: 0 0 auto;
  width: calc(25% - #{$aurora-grid-gutter});
  > div {
    margin-bottom: $aurora-grid-gutter;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

//CSS Grid
/* autoprefixer: off */
@supports (display: grid) {
  body {
    display: grid;
    grid-template-areas:  ". head head head head ."
                          ". banner banner banner banner ."
                          ". top-a top-a top-a top-a ."
                          ". top-b top-b top-b top-b ."
                          ". main main main main ."
                          ". bot-a bot-a bot-a bot-a ."
                          ". bot-b bot-b bot-b bot-b ."
                          ". footer footer footer footer .";
    grid-template-columns:  [full-start] minmax(0, 1fr) [main-start] repeat(4, minmax(0, 270px)) [main-end] minmax(0, 1fr) [full-end];
    grid-gap: $aurora-grid-gutter;
    > div {
      width: auto;
      max-width: none;
      margin: 0;
    }
    .container-top-a,
    .container-top-b,
    .container-bottom-a,
    .container-bottom-b {
      > div {
        margin: 0;
      }
    }
    > .full-width {
      grid-column: full-start / full-end;
    }
  }

  header {
    margin-bottom: 0;
  }

  .container-banner {
    margin-bottom: -15px;
  }

  .container-main {
    margin: ($aurora-grid-gutter / -2);
  }
  
}

header                    { grid-area: head; }
.container-banner         { grid-area: banner; }
.container-top-a          { grid-area: top-a; }
.container-top-b          { grid-area: top-b; }
.container-main           { grid-area: main; }
.container-component      { grid-area: comp; grid-column: auto 2fr; }
.container-sidebar-left   { grid-area: side-l; }
.container-sidebar-right  { grid-area: side-r; }
.container-main-top       { grid-area: main-t; }
.container-main-bottom    { grid-area: main-b; }
.container-bradcrumbs     { grid-area: bread; }
.container-bottom-a       { grid-area: bot-a; }
.container-bottom-b       { grid-area: bot-b; }
.container-footer         { grid-area: footer; }

.container-top-a,
.container-top-b,
.container-bottom-a,
.container-bottom-b {
  display: grid;
  grid-gap: $aurora-grid-gutter;
  grid-auto-flow: column;
}

@include media-breakpoint-down(md) {
  .site-main {
    grid-template-areas:  "side-l comp comp side-r"
                          "top-a top-a top-a top-a"
                          "top-b top-b top-b top-b"
                          "bot-a bot-a bot-a bot-a"
                          "bot-b bot-b bot-b bot-b"
                          "footer footer footer footer";
  }
}

